.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.item-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.values {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

input {
    height: 32px;
    width: 70px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
}

.value-item {
    font-size: 16px;
    padding: 2px 0;
    letter-spacing: 0.5px;
}

.buttonsList {
    position: absolute;
    right: 0;
    top: 2px;
}

.buttonIcon {
    border: none;
    background: none;
}

.buttonIcon svg {
    fill: #582d4a;
    width: 20px;
    height: auto;
}

.label-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.bestVariant {
    background: #f8f1f5;
    border-radius: 10px;
}

.sale-button {
    background: #3b1e31;
    border-radius: 8px;
    padding: 4px 12px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.sale-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 6px 0;
    width: 100%;
    gap: 8px;
}

.sale-wrapper button {
    margin-bottom: 4px;
}